<!DOCTYPE html>
    <html>
    <head>
        <title> CRUD Albums</title>
    </head>
        
        <body>
        <br>
        <h1>Gestion de albums</h1>
        </br>
            <from action="/Guardar" method="POST">
                
                <input name"txt" name="txtTitulo" placeholder="Escribe el titulo">
                <input name"txt" name="txtArtista" placeholder="Escribe el txrArtista">
                <input name"number" name="txtAnio" placeholder="Escribe el año">

            <button type="summit"> Guardar</button>

        </from>
        </body>
    </html>